# SPDX-FileCopyrightText: 2026 Contributors to the Media eXchange Layer project.
# SPDX-License-Identifier: Apache-2.0

volumes:
  mxl-domain:
    driver: local
    driver_opts:
      type: tmpfs
      device: tmpfs
      o: strictatime

services:
  writer-media-function:
    image: mxl-writer
    profiles: [test-source]
    build:
      context: ..
      dockerfile: examples/Dockerfile.writer.txt
    restart: unless-stopped
    volumes:
      - mxl-domain:/domain

  writer-looper-video-media-function:
    image: mxl-writer-video-looper
    profiles: [looping-file-source]
    build:
      context: ..
      dockerfile: examples/Dockerfile.writer.video.loop.txt
    restart: unless-stopped
    volumes:
      - mxl-domain:/domain

  writer-looper-audio-media-function:
    image: mxl-writer-audio-looper
    profiles: [looping-file-source]
    build:
      context: ..
      dockerfile: examples/Dockerfile.writer.audio.loop.txt
    restart: unless-stopped
    volumes:
      - mxl-domain:/domain

  reader-media-function:
    image: mxl-reader
    build:
      context: ..
      dockerfile: examples/Dockerfile.reader.txt
    restart: unless-stopped
    volumes:
      - mxl-domain:/domain
    stdin_open: true
    tty: true
